Repository andruwa13/kubernetes-local: changes, and which GitLab CI jobs are due for each by the changed paths.
All: kubernetes-lint, helm-lint, flux-validate, yaml-syntax, k8s-security-scan

Path conditions:
  kubernetes-lint: any of: clusters/**/*.yaml, clusters/**/*.yml
  helm-lint: any of: clusters/**/*helm*.yaml, clusters/**/*helm*.yml
  flux-validate: any of: clusters/**/*.yaml, clusters/**/*.yml
  yaml-syntax: any of: clusters/**/*.yaml, clusters/**/*.yml
  k8s-security-scan: any of: clusters/**/*.yaml, clusters/**/*.yml

Add GitLab Operator configuration: create HelmRepository and HelmRelease for GitLab deployment in the flux-system namespace.
  clusters/pi4/applications/gitlab-Operator/gitlab-helmrepository.yaml
  clusters/pi4/applications/gitlab-Operator/helmrelease.yaml
Due: kubernetes-lint, helm-lint, flux-validate, yaml-syntax, k8s-security-scan

Add GitLab namespace configuration: create a new namespace.yaml file for the GitLab Operator deployment.
  clusters/pi4/applications/gitlab-Operator/namespace.yaml
Due: kubernetes-lint, flux-validate, yaml-syntax, k8s-security-scan

Enhance cert-manager configuration: add nodeSelector for pod scheduling to specific nodes, improving deployment control.
  clusters/pi4/applications/cert-manager/controllers/cert-manager-kustomization.yaml
Due: kubernetes-lint, flux-validate, yaml-syntax, k8s-security-scan

Remove Mosquitto HelmRelease and HelmRepository configurations: delete obsolete YAML files to streamline application management in the cluster.
  clusters/pi4/applications/mosquitto/helmrelease-mosquitto.yaml
  clusters/pi4/applications/mosquitto/helmrepository-mosquitto.yaml
Due: kubernetes-lint, helm-lint, flux-validate, yaml-syntax, k8s-security-scan

Remove obsolete Zigbee2MQTT HelmRelease and HelmRepository configurations: delete YAML files to streamline application management in the cluster.
  clusters/pi4/applications/zigbee2mqtt/helmrelease-zigbee2mqtt.yaml
  clusters/pi4/applications/zigbee2mqtt/helmrepository-zigbee2mqtt.yaml
Due: kubernetes-lint, helm-lint, flux-validate, yaml-syntax, k8s-security-scan

Add GitLab Runner configuration: create namespace, HelmRepository, and HelmRelease YAML files for deploying GitLab Runner in the cluster.
  clusters/pi4/applications/gitlab-runner/gitlab-helm-repository.yaml
  clusters/pi4/applications/gitlab-runner/gitlab-runner-helm-release.yaml
  clusters/pi4/applications/gitlab-runner/namespace.yaml
Due: kubernetes-lint, helm-lint, flux-validate, yaml-syntax, k8s-security-scan

Update dependency VictoriaMetrics/VictoriaLogs to v1.34.0
  clusters/pi4/infrastructure/logs/VLCluster/vlcluster.yaml
Due: kubernetes-lint, flux-validate, yaml-syntax, k8s-security-scan

Add pod annotations for architecture specification in GitLab Runner Helm release configuration: ensure compatibility with arm64 architecture by updating pod annotations in the YAML file.
  clusters/pi4/applications/gitlab-runner/gitlab-runner-helm-release.yaml
Due: kubernetes-lint, helm-lint, flux-validate, yaml-syntax, k8s-security-scan

Comment out pod annotations for architecture in GitLab Runner Helm release configuration, maintaining nodeSelector and GitLab URL settings.
  clusters/pi4/applications/gitlab-runner/gitlab-runner-helm-release.yaml
Due: kubernetes-lint, helm-lint, flux-validate, yaml-syntax, k8s-security-scan

Fix syntax for node selector in GitLab Runner Helm release configuration: change from colon to equals sign for proper YAML formatting.
  clusters/pi4/applications/gitlab-runner/gitlab-runner-helm-release.yaml
Due: kubernetes-lint, helm-lint, flux-validate, yaml-syntax, k8s-security-scan

Update Helm release home-assistant to v0.3.22
  clusters/pi4/applications/home-assistant/helmrelease.yaml
Due: kubernetes-lint, helm-lint, flux-validate, yaml-syntax, k8s-security-scan

Enhance VictoriaLogs collector configuration: add Vector setup for Kubernetes log collection, including custom transformations and security settings, to improve log processing and management.
  clusters/pi4/infrastructure/logs/victoria-logs-collector/helmrelease-victoria-logs-collector.yaml
Due: kubernetes-lint, helm-lint, flux-validate, yaml-syntax, k8s-security-scan

Fix YAML syntax for node selector in GitLab Runner Helm release configuration: ensure proper quoting for key-value pairs.
  clusters/pi4/applications/gitlab-runner/gitlab-runner-helm-release.yaml
Due: kubernetes-lint, helm-lint, flux-validate, yaml-syntax, k8s-security-scan

Update vlcluster.yaml configuration: add extraArgs for memory optimization, query timeout, and JSON logging format to enhance log processing capabilities.
  clusters/pi4/infrastructure/logs/VLCluster/vlcluster.yaml
Due: kubernetes-lint, flux-validate, yaml-syntax, k8s-security-scan

Update Helm release plex to v2.8.1
  clusters/pi4/applications/plex/plex-helmrelease.yaml
Due: kubernetes-lint, helm-lint, flux-validate, yaml-syntax, k8s-security-scan

Comment out security context settings in VictoriaLogs collector Helm release configuration to simplify deployment.
  clusters/pi4/infrastructure/logs/victoria-logs-collector/helmrelease-victoria-logs-collector.yaml
Due: kubernetes-lint, helm-lint, flux-validate, yaml-syntax, k8s-security-scan

Update vlcluster.yaml retention period from 30 days to 7 days to optimize storage management.
  clusters/pi4/infrastructure/logs/VLCluster/vlcluster.yaml
Due: kubernetes-lint, flux-validate, yaml-syntax, k8s-security-scan

Refactor VictoriaLogs collector Helm release configuration: remove commented-out Vector settings and streamline deployment parameters for improved clarity and maintainability.
  clusters/pi4/infrastructure/logs/victoria-logs-collector/helmrelease-victoria-logs-collector.yaml
Due: kubernetes-lint, helm-lint, flux-validate, yaml-syntax, k8s-security-scan

Add custom transformation to VictoriaLogs collector Helm release configuration: introduce remap-msg to enhance log message processing from Kubernetes logs.
  clusters/pi4/infrastructure/logs/victoria-logs-collector/helmrelease-victoria-logs-collector.yaml
Due: kubernetes-lint, helm-lint, flux-validate, yaml-syntax, k8s-security-scan

Update home-assistant Helm release configuration: disable host networking, change service type to LoadBalancer, and update node selector to 'server' for improved deployment settings.
  clusters/pi4/applications/home-assistant/helmrelease.yaml
Due: kubernetes-lint, helm-lint, flux-validate, yaml-syntax, k8s-security-scan

Update cert-manager kustomization: change node selector from 'server' to 'pi4' for improved deployment alignment.
  clusters/pi4/applications/cert-manager/controllers/cert-manager-kustomization.yaml
Due: kubernetes-lint, flux-validate, yaml-syntax, k8s-security-scan

Update home-assistant Helm release configuration: bump image tag from 2025.8.2 to 2025.9.4 for the latest features and improvements.
  clusters/pi4/applications/home-assistant/helmrelease.yaml
Due: kubernetes-lint, helm-lint, flux-validate, yaml-syntax, k8s-security-scan

Update dependency VictoriaMetrics/VictoriaLogs to v1.35.0
  clusters/pi4/infrastructure/logs/VLCluster/vlcluster.yaml
Due: kubernetes-lint, flux-validate, yaml-syntax, k8s-security-scan

Update home-assistant Helm release configuration: change node selector from 'server' to 'pi4' for improved deployment alignment.
  clusters/pi4/applications/home-assistant/helmrelease.yaml
Due: kubernetes-lint, helm-lint, flux-validate, yaml-syntax, k8s-security-scan

Update cert-manager kustomization: change node selector from 'pi4' to 'server' for improved deployment alignment.
  clusters/pi4/applications/cert-manager/controllers/cert-manager-kustomization.yaml
Due: kubernetes-lint, flux-validate, yaml-syntax, k8s-security-scan

Update Helm release victoria-metrics-operator to v0.54.0
  clusters/pi4/infrastructure/monitoring/victoria-metrics-operator/helmrelease.yaml
Due: kubernetes-lint, helm-lint, flux-validate, yaml-syntax, k8s-security-scan

Update home-assistant Helm release configuration: change node selector from 'pi4' to 'server' for improved deployment alignment.
  clusters/pi4/applications/home-assistant/helmrelease.yaml
Due: kubernetes-lint, helm-lint, flux-validate, yaml-syntax, k8s-security-scan

Update home-assistant Helm release configuration: enable host networking for improved connectivity.
  clusters/pi4/applications/home-assistant/helmrelease.yaml
Due: kubernetes-lint, helm-lint, flux-validate, yaml-syntax, k8s-security-scan

Add CI linting stages for FluxCD, Kustomize, and Helm in .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Add test and deploy stages to CI pipeline in .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Remove kustomization validation step from CI pipeline in .gitlab-ci.yml to streamline the linting process.
  .gitlab-ci.yml
Due: none

Update dependency fluxcd/flux2 to v2.7.0
  clusters/pi4/flux-system/gotk-components.yaml
Due: kubernetes-lint, flux-validate, yaml-syntax, k8s-security-scan

Update HelmRelease API versions for Pi-hole, Plex, and Mojo2600 to v2 and source.toolkit to v1 for compatibility with FluxCD.
  clusters/pi4/applications/pihole/controllers/helmrelease.yaml
  clusters/pi4/applications/pihole/fluxcd-pihole.yaml
  clusters/pi4/applications/plex/helmrelease.yaml
  clusters/pi4/repositories/mojo2600.yaml
Due: kubernetes-lint, helm-lint, flux-validate, yaml-syntax, k8s-security-scan

Update Helm release ingress-nginx to v4.13.3
  clusters/pi4/infrastructure/ingress-nginx/helmrelease.yaml
Due: kubernetes-lint, helm-lint, flux-validate, yaml-syntax, k8s-security-scan

Update Helm release home-assistant to v0.3.23
  clusters/pi4/applications/home-assistant/helmrelease.yaml
Due: kubernetes-lint, helm-lint, flux-validate, yaml-syntax, k8s-security-scan

Update Helm release home-assistant to v0.3.24
  clusters/pi4/applications/home-assistant/helmrelease.yaml
Due: kubernetes-lint, helm-lint, flux-validate, yaml-syntax, k8s-security-scan

Update Helm release prometheus-operator-crds to v24
  clusters/pi4/infrastructure/monitoring/prometheus-operator-crds/helmrelease.yaml
Due: kubernetes-lint, helm-lint, flux-validate, yaml-syntax, k8s-security-scan

Update dependency fluxcd/flux2 to v2.7.1
  clusters/pi4/flux-system/gotk-components.yaml
Due: kubernetes-lint, flux-validate, yaml-syntax, k8s-security-scan

Update Helm release cert-manager to v1.19.0
  clusters/pi4/applications/cert-manager/controllers/cert-manager-kustomization.yaml
Due: kubernetes-lint, flux-validate, yaml-syntax, k8s-security-scan

Update dependency fluxcd/flux2 to v2.7.2
  clusters/pi4/flux-system/gotk-components.yaml
Due: kubernetes-lint, flux-validate, yaml-syntax, k8s-security-scan
